*,*::before,*::after {
  box-sizing: border-box;
}
body {
  font-size: 15px;
  margin: 0;
}

h1, h2 {
  font-family: 'Josefine Sans', sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
}

p, a, button {
  font-family: 'Alata', sans-serif;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}